<h2>アカウント編集</h2>

<%= form_for(@user) do |f| %>

  <div class="form-group">
      <%= f.label :nickname, 'ニックネーム' %>
      <%= f.text_field :nickname, class:"form-control input-sm" %>
    </div>
    <div class="form-group">
      <%= f.label :email, 'メールアドレス' %>
      <%= f.text_field :email, class:"form-control input-sm" %>
    </div>
    <div class="form-group">
      <%= f.label :age, '年齢' %>
      <%= f.text_field :age, class:"form-control input-sm" %>
    </div>
    <div class="form-group">
      <%= f.label :sex, '性別' %>
      <%= f.select(:sex, [['男', 1], ['女', 2]]) %>
    </div>
    <div class="form-group">
      <%= f.label :password, 'パスワード' %>
      <%= f.password_field :password, class:"form-control input-sm" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, 'パスワード確認' %>
      <%= f.password_field :password_confirmation, class:"form-control input-sm"%>
    </div>
    <div class="form-group">
      <%= f.label :image, 'プロフィール画像' %>
      <%= f.file_field :image %>
    </div>

  <%= f.submit 'アカウントを編集する', class: 'btn btn-primary' %>

<% end %>