<h2>ユーザー情報</h2>

<table>
  <p>プロフィール写真<br>
  <%= image_tag @user.image_url %></p>
  <tr>
    <th>ニックネーム</th>
    <td><%= @user.nickname %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th>性別</th>
    <td><%= @user.sex_i18n %></td>
  </tr>
  <tr>
    <th>年齢</th>
    <td><%= @user.age %></td>
  </tr>
</table>

<% if current_user?(@user) %>
<p><%= link_to '編集', edit_user_path, class: 'btn btn-primary' %></p>
<% end %>